.social-icons {
	text-decoration: none !important;
}
.hero-image {
	background-image: url("https://source.unsplash.com/wl5AypUmamo");
	background-size: cover;
	color: #ffffff;
}
.intro {
	padding: 5em;
	text-align: center;
}
.follow-me {
	padding: 25em 1em 1em;
	text-align: right;
}
.follow-me a {
	padding-left: 0.3em;
	color: #ffffff;
}
.pie-image {
	height: 18em;
	width: 18em;
}